<a href="https://colab.research.google.com/github/DJohanTwT/DataV24/blob/main/Clase_2_Python_Basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1. What is Python?**
General programming language, use it for everything.
* Data analysis
* Machinne learning
* Web Scrapping (a mode of search proving instructions)
* Create videogames
* Create more software
* Statistical analysis

# **2. Why Python**

* It's simple
* Open-Source
* Popular and documentation

# **3. As a Calculator**

In [ ]:
# Addition
2 + 5 #two plus five

7

In [ ]:
# Substraction
51 - 21 #fifty one minus twenty one

30

In [ ]:
# Multiplication
7 * 8 #seven times eight

56

In [ ]:
# Division
78 / 7 #seventy eight divided by 7

11.142857142857142

In [ ]:
# Integer Division
78 // 7

11

In [ ]:
# Exponential
2 ** 3 #two to the power of three - two cubed

8

# **4. Parenthesis**

In [ ]:
# w/o () - without (sin) parenthesis
2 + 3 * 6 / 2

11.0

In [ ]:
# w () - with parenthesis
(2 + 3) * 6 / 2

15.0

# **5. Integers and Real Numbers**

In [ ]:
# Integers
type(26) #solo es un numero número entero - #Type permite saber que numero es

int

In [ ]:
# Real number
type(26.00) #solo es un numero número real - Float es número real en programación

float

# **6. Scientific notation**

In [ ]:
#50 in scientific notation
5e1 #5 times 10 to the power of 1

50.0

In [ ]:
5e-1 #5 times 10 to the power of -1

0.5

# **7. Basic Functions**


## 7.1. Print - muestra o imprimir

In [ ]:
print(5+3) #muestra los dos resultados
print(5+2)

8
7

In [ ]:
print("Hello World") #muestra un texto

Hello World

In [ ]:
print(5+3,2+5) #muestra los resultados en una misma linea

8 7

In [ ]:
#Loop o bucle
for i in range(0,10): print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
#Loop - bucle de dos en dos
for i in range(0,10,2): print(i)

0
2
4
6
8

In [ ]:
#Loop - invertir el order
for i in range(10,0,-1): print(i)

10
9
8
7
6
5
4
3
2
1

In [6]:
# With Text
print("Hello World") #todo lo que este en comillas es una cadena de texto
print("My name is:")
print("First name:", "Johan", "last name:", "Fierro") #se puede separar diferente lo que se quiere que imprima por comas
print("First name:", "Johan\t last name:", "Fierro") #\t tabula, osea hace un espacio en blanco
print("First name:", "Johan\nlast name:", "Fierro") #\n rompe la linea y crea una nueva

Hello World
My name is:
First name: Johan last name: Fierro
First name: Johan	 last name: Fierro
First name: Johan
last name: Fierro

## 7.2. Round - redondear

In [7]:
# round(number, decimals)
round(1.2356,3) #redondea a tres decimales

1.236

In [10]:
# Example 1 Principles (answer the exercise and then if I have time, design the problem and be more eficent)
# Let's round the number 1,23587

print("The aproximation of the number", 1.23587, "with:", 3, "decimals is:", round(1.23587,3))

The aproximation of the number 1.23587 with: 3 decimals is: 1.236

In [57]:
#Example 1.2
print("The aproximation of the number", 1.23587, "with:")
print("3 decimals is:", round(1.23587,3))
print("2 decimals is:", round(1.23587,2))
print("1 decimals is:", round(1.23587,1))

The aproximation of the number 1.23587 with:
3 decimals is: 1.236
2 decimals is: 1.24
1 decimals is: 1.2

In [59]:
# Punto del taller
print("The aproximation of the number", 1.23587, "with:")
for i in range(3,0,-1):
  print(i,"decimals is:", round(1.23587,i)) #se imprime i de forma descendente desde 3 a 1. En el print esta separada por comas, por lo que se imprime el texto decimales y el redondeado que tambien cambia desde 3 a 1 de acuerdo con el rango

The aproximation of the number 1.23587 with:
3 decimals is: 1.236
2 decimals is: 1.24
1 decimals is: 1.2

In [65]:
# primeros 10 multiplos de la tabla del 4
print("The first 10 multiples of 4 are:")
for i in range(1,11): print(i, "x 4 =", 4*i)

The first 10 multiples of 4 are:
1 x 4 = 4
2 x 4 = 8
3 x 4 = 12
4 x 4 = 16
5 x 4 = 20
6 x 4 = 24
7 x 4 = 28
8 x 4 = 32
9 x 4 = 36
10 x 4 = 40