<a href="https://colab.research.google.com/github/DJohanTwT/DataV24/blob/main/Clase_3_Python_Variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1. What is a variable?**

Something that stores a value 'un container que guarda un valor'

In [8]:
# Example
a = 10 #int (entero)
print(a)

10

In [9]:
b = 3.2 #float (decimal)
print(b)

3.2

In [13]:
# Example as calculator
print(a + b)

13.2

# **2. Chain Assingmet**

In [15]:
#Chain assingment 1 - asignaci√≥n en cadena
a, b = 10, 3.2 #para cada variable se le asigna el numero correspondiente despues de la coma en cadena
print(a + b)

13.2

In [19]:
#Chain assignment 2
x = y = z = 100 #para cada variable se le asigna 100
print(x, y, z)

100 100 100

# **3. Delete and Clear**

In [26]:
# Delete x, y, c, z
del c

In [27]:
# Erase all variable
%reset #Borrar todas las variables, pregunta si se quiere o no borrar antes de ejecutar

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

# **Practice**

In [48]:
# Practice
## Approximate the number 15.476352489 to 1, 2, 3...8 decimals and print the results.
## Use variables
n = 15.476352489

print('The aproximation of', n)
for i in range(1, 9):
  print('with', i, 'decimals is:', round(n, i))

The aproximation of 15.476352489
with 1 decimals is: 15.5
with 2 decimals is: 15.48
with 3 decimals is: 15.476
with 4 decimals is: 15.4764
with 5 decimals is: 15.47635
with 6 decimals is: 15.476352
with 7 decimals is: 15.4763525
with 8 decimals is: 15.47635249

In [49]:
n = 15.476352489
a = 1
b = 9

print('The aproximation of', n)
for i in range(a, b):
  print('with', i, 'decimals is:', round(n, i))

The aproximation of 15.476352489
with 1 decimals is: 15.5
with 2 decimals is: 15.48
with 3 decimals is: 15.476
with 4 decimals is: 15.4764
with 5 decimals is: 15.47635
with 6 decimals is: 15.476352
with 7 decimals is: 15.4763525
with 8 decimals is: 15.47635249

In [63]:
# Something but not relevant
w = 0

In [69]:
w += 2

# **4. Naming**
Poner nombre a las variables

In [75]:
# Example
my_age = 21

# **5. Data types**

## 5.1. Integers

## 5.2. Floats

## 5.3. Booleans (Bool)
Variables que solo toman dos valores, verdadero o falso.

Variables that takes two values, true or false

In [76]:
red_shirt = True

### Boolena Expressions

In [79]:
# Example 1 - verificar si es X es menor a Y
x = 2
y = 3
print(x < y)

True

In [80]:
# Example 2
x = 2
y = 3
print('x is less than y?', x < y)
print('x is greater than y?', x > y)
print('x is equal to y?', x == y)
print('x is not equal to y?', x != y)
print('x is less or equal than y?', x <= y)
print('x is greater or equal than y?', x >= y)

x is less than y? True
x is greater than y? False
x is equal to y? False
x is not equal to y? True
x is less or equal than y? True
x is greater or equal than y? False

In [82]:
### Boolean math
red_shirt = True
blue_shirt = False
print(red_shirt + blue_shirt)
print(red_shirt + red_shirt)
print(blue_shirt + blue_shirt)

1
2
0

## 5.4. String

In [83]:
# Example
x = "La Salle University" #como es texto, se denomina str
print(x) #chars tiene en cuenta simbolos, letras, numeros y espacios dentro de un texto

La Salle University

### Index

In [88]:
# Example
print("The first element of x is:", x[0])
print("The last element of x is:", x[-1])

The first element of x is: L
The last element of x is: y

In [90]:
# Example
print("The second element of x is:", x[1])
print("The second to last element of x is:", x[-2])

The second element of x is: a
The second to last element of x is: t